html, body {
  margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Thẻ div làm background */
#background {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;  /* Để phía sau nội dung */
  
  background-image: url('background-khtn.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Điều chỉnh cho mobile */
@media (max-width: 768px) {
  #background {
    background-size: contain;    /* Hoặc đổi thành cover nếu muốn */
    background-position: center top;
    background-repeat: no-repeat;
    background-color: white;
  }
}
